 #landing {
    overflow-x: hidden;
   
  }
h1,h2,h3,p{
    font-family: Arapey;
  }
h3{
  font-size: 20px;
}
p{
  font-size: 20px;
}
.narrow-button {
  width: 140px ; /* You can adjust the width as needed */
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-button {
  animation: pulse 2s ease-in-out infinite;
}

.hover-effect {
  opacity: 0.7; /* Adjust the initial opacity as desired */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* When hovering over the image, change its opacity */
.hover-effect:hover {
  opacity: 1; /* Opacity on hover */
}


/* nav bar follows you when you scroll */
.sticky {
  position: fixed ;
  top: 0;
  width: 100%;
}
.image {
  transition: opacity 0.3s;
}

.image:hover {
  opacity: 0.7; /* Adjust the opacity value as desired */
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff; /* Change text color on hover */
  background-color: #333; /* Change background color on hover */
  border-radius: 5px; /* Optional: add some border-radius for a rounded effect */
}
.logo{
  transition: transform 0.3s, filter 0.3s;
}
.logo:hover {
  transform: scale(1.1); /* Increases size on hover */
  filter: grayscale(100%); /* Turns the image grayscale on hover */
}