 #landing {
    overflow-x: hidden;
    overflow-y: hidden;
  }
h1,h2,h3{
    font-family: Arapey;
  }
h3{
  font-size: 20px;
}
.narrow-button {
  width: 140px; /* You can adjust the width as needed */
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-button {
  animation: pulse 2s ease-in-out infinite;
}

.hover-effect {
  opacity: 0.7; /* Adjust the initial opacity as desired */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* When hovering over the image, change its opacity */
.hover-effect:hover {
  opacity: 1; /* Opacity on hover */
}